<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
    .radio-buttons input[type="radio"] {
        display: none; /* 기존 라디오 버튼 숨기기 */
    }
    
    .radio-buttons label {
        display: inline-block;
        padding: 8px 16px;
        margin-right: 10px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .radio-buttons input[type="radio"]:checked + label {
        background-color: #2196F3;
        color: white;
    }
	</style>
</head>
<body>
<div th:insert="thymeleaf/th_top_menu :: test_top_menu"></div>
<div class="container mt-5">
    <h2 class="mb-3">회원정보 및 수정</h2>
    <form th:action="@{/user/info/updateOK}" method="post" encType="multipart/form-data">
        <div class="form-group">
            <label for="username">아이디:</label>
            <input type="text" class="form-control" id="username" name="username" th:value="${username}" readonly>
        </div>
        <div class="form-group">
            <label for="pw">비밀번호:</label>
            <input type="hidden" class="form-control" id="pw" name="pw"  th:value="${pw}" readonly>
        </div>
        <div class="form-group">
            <label for="realname">이름:</label>
            <input type="text" class="form-control" id="realname" name="realname" th:value="${name}" required>
        </div>
        <div class="form-group">
            <label for="gender">(필수) 성별:</label><br>
            <div class="radio-buttons" id="gender">
                <input type="radio" id="male" name="gender" value="남" th:checked="${gender == '남'}">
                <label for="male">남성</label>

                <input type="radio" id="female" name="gender" value="여" th:checked="${gender == '여'}">
                <label for="female">여성</label>
            </div>
        </div>
        <div class="form-group">
            <label for="nickname">(필수) 닉네임:</label>
            <input type="text" class="form-control" id="nickname" name="nickname" th:value="${nickname}" required>
        </div>
        <div class="form-group">
            <label for="kakaoID">카카오톡 ID(검색허용필수):</label>
            <input type="text" class="form-control" id="kakaoID" name="kakaoID" th:value="${kakaoID}" required>
        </div>
        <div class="form-group">
            <label for="age">(필수) 나이:</label>
            <input type="number" class="form-control" id="age" name="age" th:value="${age}" required>
        </div>
        <div class="form-group">
            <label for="school">(필수) 학교:</label>
            <input type="text" class="form-control" id="school" name="school" th:value="${school}" required>
        </div>
        <div class="form-group">
            <label for="tel">(필수) 전화번호:</label>
            <input type="text" class="form-control" id="tel" name="tel" th:value="${tel}" required>
        </div>
        <div class="form-group">
            <label for="introduce">자기소개:</label>
            <input type="text" class="form-control" id="introduce" name="introduce" th:value="${introduce}">
        </div>
        <div class="form-group">
            <label for="job">직업:</label>
            <select class="form-control" id="job" name="job">
                <option value="" th:selected="${job == null}">-- 직업 선택 --</option>
                <option value="대학생" th:selected="${job == '대학생'}">대학생</option>
                <option value="대학원생" th:selected="${job == '대학원생'}">대학원생</option>
                <option value="취준생" th:selected="${job == '취준생'}">취준생</option>
                <option value="직장인" th:selected="${job == '직장인'}">직장인</option>
            </select>
        </div>
        <div class="form-group">
            <label for="department">학과:</label>
            <select class="form-control" id="department" name="department">
                <option value="" th:selected="${department == null}">-- 학과 선택 --</option>
                <option value="상경" th:selected="${department == '상경'}">상경</option>
                <option value="사회과학" th:selected="${department == '사회과학'}">사회과학</option>
                <option value="공학" th:selected="${department == '공학'}">공학</option>
                <option value="교육" th:selected="${department == '교육'}">교육</option>
                <option value="생활과학" th:selected="${department == '생활과학'}">생활과학</option>
                <option value="인문" th:selected="${department == '인문'}">인문</option>
                <option value="의약학" th:selected="${department == '의약학'}">의약학</option>
                <option value="미술" th:selected="${department == '미술'}">미술</option>
                <option value="예술" th:selected="${department == '예술'}">예술</option>
                <option value="체육" th:selected="${department == '체육'}">체육</option>
                <option value="특수" th:selected="${department == '특수'}">특수</option>
            </select>
        </div>
        <div class="form-group">
            <label for="region">지역:</label>
            <select class="form-control" id="region" name="region">
                <option value="" th:selected="${region == null}">-- 지역 선택 --</option>
                <option value="서울" th:selected="${region == '서울'}">서울</option>
                <option value="인천" th:selected="${region == '인천'}">인천</option>
                <option value="경기남부" th:selected="${region == '경기남부'}">경기남부</option>
                <option value="경기북부" th:selected="${region == '경기북부'}">경기북부</option>
                <option value="대전" th:selected="${region == '대전'}">대전</option>
                <option value="광주" th:selected="${region == '광주'}">광주</option>
                <option value="대구" th:selected="${region == '대구'}">대구</option>
                <option value="부산" th:selected="${region == '부산'}">부산</option>
                <option value="울산" th:selected="${region == '울산'}">울산</option>
                <option value="충남" th:selected="${region == '충남'}">충남</option>
                <option value="충북" th:selected="${region == '충북'}">충북</option>
                <option value="강원" th:selected="${region == '강원'}">강원</option>
                <option value="전남" th:selected="${region == '전남'}">전남</option>
                <option value="전북" th:selected="${region == '전북'}">전북</option>
                <option value="경남" th:selected="${region == '경남'}">경남</option>
                <option value="경북" th:selected="${region == '경북'}">경북</option>
            </select>
        </div>
        <div class="form-group">
            <label for="smoking">흡연유무:</label><br>
            <div class="radio-buttons" id="smoking">
                <input type="radio" id="yes-smoking" name="smoking" value="yes-smoking" th:checked="${smoking == 'yes-smoking'}">
                <label for="yes-smoking">흡연</label>

                <input type="radio" id="non-smoking" name="smoking" value="non-smoking" th:checked="${smoking == 'non-smoking'}">
                <label for="non-smoking">비흡연</label>
            </div>
        </div>
        <div class="form-group">
            <label for="form">체형:</label><br>
            <div class="radio-buttons" id="form">
                <input type="radio" id="thin" name="form" value="마른" th:checked="${form == '마른'}">
                <label for="thin">마른</label>

                <input type="radio" id="common" name="form" value="보통" th:checked="${form == '보통'}">
                <label for="common">보통</label>

                <input type="radio" id="chubby" name="form" value="통통" th:checked="${form == '통통'}">
                <label for="chubby">통통</label>

                <input type="radio" id="muscular" name="form" value="근육" th:checked="${form == '근육'}">
                <label for="muscular">근육</label>

                <input type="radio" id="slimfit" name="form" value="슬림탄탄" th:checked="${form == '슬림탄탄'}">
                <label for="slimfit">슬림탄탄</label>

                <input type="radio" id="glamorous" name="form" value="글래머" th:checked="${form == '글래머'}">
                <label for="glamorous">글래머</label>
            </div>
        </div>
        <div class="form-group">
            <label for="military">병역:</label><br>
            <div class="radio-buttons" id="military">
                <input type="radio" id="fulfilled" name="military" value="fulfilled" th:checked="${military == 'fulfilled'}">
                <label for="fulfilled">군필</label>

                <input type="radio" id="unfulfilled" name="military" value="unfulfilled" th:checked="${military == 'unfulfilled'}">
                <label for="unfulfilled">미필</label>
            </div>
        </div>
        <div class="form-group">
            <label for="tall">키:</label><br>
            <div class="radio-buttons" id="tall">
                <input type="radio" id="160down" name="tall" value="160down" th:checked="${tall == '160down'}">
                <label for="160down">160미만</label>

                <input type="radio" id="160up" name="tall" value="160up" th:checked="${tall == '160up'}">
                <label for="160up">160이상 165미만</label>

                <input type="radio" id="165up" name="tall" value="165up" th:checked="${tall == '165up'}">
                <label for="165up">165이상 170미만</label>

                <input type="radio" id="170up" name="tall" value="170up" th:checked="${tall == '170up'}">
                <label for="170up">170이상 175미만</label>

                <input type="radio" id="175up" name="tall" value="175up" th:checked="${tall == '175up'}">
                <label for="175up">175이상 180미만</label>

                <input type="radio" id="180up" name="tall" value="180up" th:checked="${tall == '180up'}">
                <label for="180up">180이상 185미만</label>

                <input type="radio" id="185up" name="tall" value="185up" th:checked="${tall == '185up'}">
                <label for="185up">185이상 190이하</label>

                <input type="radio" id="190up" name="tall" value="190up" th:checked="${tall == '190up'}">
                <label for="190up">190이상</label>
            </div>
        </div>
        <div class="form-group">
            <label for="file">(선택) 프로필이미지:</label>
            <input type="file" class="form-control" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
        <a href="/user/info/delete"><button type="button" class="btn btn-danger">삭제</button></a>
    </form>
    <a th:href="@{/user}" class="btn btn-primary">뒤로 가기</a>
</div>

<div class="footer-content">
    <div class="row">
        <div class="col-3 d-flex justify-content-center">
            <a th:href="@{/}" class="nav-link">
                <img src="/images/home_icon.png" alt="Home" style="width: 50px; height: 50px;">
            </a>
        </div>
        <div class="col-3 d-flex justify-content-center" th:if="${session.username}">
            <a th:href="@{/user/logout}" class="nav-link" onclick="showLogoutPopup()">
                <img src="/images/logout_icon.png" alt="Logout" style="width: 50px; height: 50px;">
            </a>
        </div>
        <div class="col-3 d-flex justify-content-center" th:unless="${session.username}">
            <a th:href="@{/user/login}" class="nav-link">
                <img src="/images/login_icon.png" alt="Login" style="width: 50px; height: 50px;">
            </a>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <a th:href="@{/user}" class="nav-link">
                <img src="/images/mypage_icon.png" alt="My Page" style="width: 50px; height: 50px;">
            </a>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <a th:href="@{/menu}" class="nav-link">
                <img src="/images/meeting_icon2.png" alt="Menu" style="width: 50px; height: 50px;">
            </a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
`